%footer
	.container
		%h3.text-center 
			= precede '// ' do
				Oh, and this is how you find me
		.row
			.col-sm-3.col-xs-6.text-center
				= link_to 'https://github.com/sabinovelasquez/', :target => '_blank' do
					%i.fa.fa-github				
			.col-sm-3.col-xs-6.text-center
				= link_to 'https://www.linkedin.com/in/sabinov', :target => '_blank' do
					%i.fa.fa-linkedin
			.col-sm-3.col-xs-6.text-center
				= link_to 'https://www.facebook.com/sabino.velasquez', :target => '_blank' do
					%i.fa.fa-facebook
			.col-sm-3.col-xs-6.text-center
				= link_to 'https://instagram.com/depointless/', :target => '_blank' do
					%i.fa.fa-instagram
	.container
		%small( style = 'color: #fff' ) sabino© 2015 
		.fb-like( data-href = 'http://www.sabino.cl' data-layout = 'button_count' data-action = 'like' data-show-faces = 'true' data-share = 'true' )
#fb-root