#like.parallax-container
	.hover
		.container
			%h3.text-center
				= precede '// ' do
					This what I like.
		.container.vertical
			.row
				.col-sm-4.col-xs-12.text-center
					.big-icon
						%i.fa.fa-film
					%small.title
						Top 3 Directors
					= precede '<br />' do
						%small.note
							David Fincher
					= precede '<br />' do
						%small.note
							Jim Jarmusch
					= precede '<br />' do
						%small.note
							Orson Welles
				.col-sm-4.col-xs-12.text-center
					.big-icon
						%i.fa.fa-book
					%small.title
						Top 3 Authors
					= precede '<br />' do
						%small.note
							Robert L. Stevenson
					= precede '<br />' do
						%small.note
							Oscar Wilde
					= precede '<br />' do
						%small.note
							Chuck Palahniuk
				.col-sm-4.col-xs-12.text-center
					.big-icon
						%i.fa.fa-gamepad
					%small.title
						Top 3 Directors
					= precede '<br />' do
						%small.note
							Shigeru Miyamoto
					= precede '<br />' do
						%small.note
							David Jaffe
					= precede '<br />' do
						%small.note
							Goichi Suda
	.parallax
		%img( src = "img/like.jpg" )